.button {
  background: var(--accent-color);
  color: white;
  transition: background 0.3s ease;
}

.small {
  padding: 0.6rem 1.8rem;
  font-size: 1.1rem;
}

.medium {
  padding: 0.6rem 1.8rem;
  font-size: 1.1rem;
}

.large {
  padding: 1rem 4rem;
  font-size: 1.3em;
}

