.navbar {
  --list-space: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
}
/* ====== START OF UNIVERSAL CSS ====== */

.top_bar,
.user_action_btns,
.nav_lists ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ====== END OF UNIVERSAL CSS ====== */

/* ====== START OF TOPBAR ====== */

.top_bar {
  max-width: 90rem;
  padding: 1rem 2rem .3rem 2rem;
  margin: 0 auto;
}

.top_bar .user_action_btns > * + * {
  margin-left: var(--list-space);
}
.top_bar_logo {
  width: 20rem;
}

.login_btn {
  background: var(--accent-color);
  cursor: pointer;
  border-radius: 50px;
  padding: 0.3rem 1rem;
  color: white;
  font-size: 0.9rem;
}
.search {
  display: flex;
  align-items: center;
}

/* ====== END OF TOPBAR ====== */

/* ====== START OF NAVBAR LISTS ====== */
 

.nav_lists {
  max-width: 75rem;
  padding: 0rem 2rem;
  margin: 0 auto;
}
.nav_lists ul {
  margin: 0 auto;
  display: flex;
}
.nav_lists > ul > li {
  font-weight: 500;
  padding: 0.5rem;
}

.drop_down {
  cursor: pointer;
  position: relative;
}
.drop_down ul {
  display: block;
  left: 0;
  line-height: 34px;
  position: absolute;
  background: var(--accent-color);
  width: 100%;
  padding: 0.4rem 0.8rem;
  top: 50px;
  opacity: 0;
  visibility: hidden;
  color: white;
}

.drop_down:hover ul {
  transition: all 0.3s ease;
  top: 40px;
  opacity: 1;
  visibility: visible;
}
/* ====== END OF NAVBAR LISTS ====== */
