.navbar {
  --transition-speed: 0.3s;
  --nav-font-size: 1.2rem;
  --nav-text-color: var(--text-color);
  --nav-font-weight: 500;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color var(--transition-speed) ease-in-out;
}

.topBarWrapper,
.mainNavWrapper {
  max-width: var(--section-width);
  margin: 0 auto;
  /* padding: 0 1rem; */
}

.navbarScrolled {
  --nav-text-color: var(--nav-text-color);
  --nav-font-weight: 400;
  background-color: rgba(255, 255, 255, 0.95);
}

/* ===== TOP BAR ===== */
.topBar {
  transition: background-color var(--transition-speed) ease-in-out;
  background-color: transparent;
}

.navbarScrolled .topBar {
  --nav-text-color: #f0f0f0;
  background-color: var(--primary-color);
}

.topBarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.logoContainer {
  max-width: 30rem;
}

.logoContainer img {
  width: 100%;
  height: auto;
}

/* Action Buttons */
.actionButtons {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.loginButton,
.searchBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--nav-text-color);
}
.searchBox {
  gap: 0.4rem;
}
.searchIcon,
.loginIcon {
  font-size: 1.4rem;
  color: var(--nav-font-size);
}

/* Mobile Menu Toggle */
.menuToggle {
  display: none;
  color: var(--nav-text-color);
  font-size: 1.2rem;
  padding: 0.5rem;
  align-items: center;
  gap: 0.5rem;
}

.menuToggleText {
  font-size: 0.9rem;
}

/* ===== MAIN NAVIGATION ===== */
.mainNav {
  background-color: transparent;
  transition: background-color var(--transition-speed) ease-in-out,
    max-height var(--transition-speed) ease;
}

.navbarScrolled .mainNav {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0 3px 3px rgba(0, 0, 0, 0.15);
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  display: block;
  padding: 1rem 0.8rem;
  color: var(--nav-text-color);
  font-size: var(--nav-font-size);
  font-weight: var(--nav-font-weight);
  transition: color var(--transition-speed) ease;
}

.navLink:hover {
  color: var(--primary-color);
}

/* Dropdown */
.dropdownContainer {
  position: relative;
}

.dropdownButton {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 1rem 0.5rem;
  font-size: var(--nav-font-size);
  font-weight: var(--nav-font-weight);
  color: var(--nav-text-color);
  transition: color var(--transition-speed) ease;
}

.dropdownButton:hover {
  color: var(--primary-color);
}

.dropdownIcon {
  font-size: 1.4rem;

  transition: transform var(--transition-speed) ease;
}

.dropdownIconOpen {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: var(--primary-color);
  padding: 0.5rem 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--transition-speed) ease;
  z-index: 100;
}

.dropdownLink {
  display: block;
  color: #f0f0f0;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  transition: all var(--transition-speed) ease;
}
.dropdownLink:hover {
  padding-left: 1.5rem;
}

/* Button */

.ctaLink {
  background: var(--accent-color);
  color: white;
  border-radius: 2rem;
  transition: background 0.3s ease;
  padding: 0.6rem 2.6rem;
  font-size: 1rem;
}

/* Show Dropdown on Hover For Desktop Only */
@media (min-width: 971px) {
  .dropdownContainer:hover .dropdownMenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 970px) {
  .menuToggle {
    display: flex;
  }
  .navbar {
    background-color: rgba(255, 255, 255, 0.95);
  }

  .navbarScrolled .topBar,
  .topBar {
    background-color: var(--primary-color);
  }
  .topBar {
    --nav-text-color: #f0f0f0;
  }
  .logoContainer {
    max-width: 150px;
  }

  /* Mobile Navbar */
  .mainNav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    z-index: 50;
  }

  .mainNavOpen {
    max-height: 1000px;
  }

  .navList {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
  }

  .navItem,
  .dropdownButton {
    width: 100%;
  }

  .navLink,
  .dropdownButton {
    padding: 0.8rem 1.5rem;
  }

  /* Mobile Dropdown When clicked */
  .dropdownMenu {
    position: static;
    width: 100%;
    border-radius: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: transparent;
    transform: translateY(0);
    transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out;
  }

  .dropdownMenuOpen {
    max-height: 500px;
    visibility: visible;
    opacity: 1;
    z-index: 222;
  }

  .dropdownLink {
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 0.5rem 2.5rem;
  }

  .dropdownLink:hover {
    padding-left: 2.8rem;
    color: var(--primary-color);
  }

  .ctaItem {
    margin: 0.8rem 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .topBarWrapper {
    padding: 0.5rem 1rem;
  }

  .actionButtons {
    gap: 0.5rem;
  }
}
