.aboutWrapper {
  max-width: var(--section-width);
  margin: 0 auto;
  padding: 0 1rem;
}
.aboutWrapper > * + * {
  margin-top: var(--section-spacing) !important;
}
.ourMission,
.ourValue {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
}

.ourMission div,
.ourValue div {
  width: 50%;
}
.desc h2 {
  font-size: var(--section-header-size) !important;
  color: var(--accent-color) !important;
  text-transform: uppercase !important;
}
.desc p {
  --p-font-size2: calc(var(--p-font-size) * 1.6);
  font-size: var(--p-font-size2);
  font-size: 1.6rem;

  font-weight: 400;
}

.image {
  display: flex;
  justify-content: center;
}
.learnMoreButton {
  width: 100%;

  text-align: center;
}


.moreEventButton button,
.registerButton {
  background-color: var(--accent-color);
  padding: 0.6rem 1.8rem;
  color: white;
  font-size: 1.1rem;
}
.moreEventButton button {
  padding: 1rem 4rem;
  font-size: 1.3em;
}
.moreEventButton {
  display: flex;
  justify-content: center;
}
