.aboutWrapper {
  max-width: var(--section-width);
  margin: 0 auto;
  padding: 0 1rem;
}
.aboutWrapper > * + * {
  margin-top: var(--section-spacing) !important;
}
.ourMission,
.ourValue {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
}

.ourMission div,
.ourValue div {
  width: 50%;
}
.headline {
  color: var(--accent-color);
  text-transform: uppercase;
}
.desc {
  font-size: var(--sub-heading-font-size);
  font-weight: 400;
}

.image {
  display: flex;
  justify-content: center;
}

.moreAboutUs {
  text-align: center;
}
