.eventsWrapper {
  max-width: var(--section-width);
  margin: 0 auto;
  padding: 0 1rem;
}
.eventsWrapper > * + * {
  --inside-section-spacing: 3rem;
  margin-top: var(--inside-section-spacing) !important;
}
.header h2 {
  color: var(--accent-color);
  text-transform: uppercase;
}
.header p {
  width: 70ch;
  font-size: var(--sub-heading-font-size);
}

.impDates {
  color: rgb(53, 53, 53);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 0;
  margin-top: .7rem;

}
.eventLists {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.event {
  background-color: rgb(243, 243, 243);
  /* padding: 2rem; */
  display: flex;
}
.eventImageContainer{
  background: red;
}
.eventImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.eventContent{
  padding: 1.5rem;
}

.eventDesc {
  margin-top: 1.8rem;
}
.eventDesc p {
  font-size: 22px;
  color: rgb(47, 47, 47);
}

.event .eventHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eventInfo {
  display: flex;
  flex-direction: column;
}
.moreEventButton {
  text-align: center;
}
.eventTag {
  background-color: var(--accent-color);
  color: #f0f0f0;
  
  /* background-color: rgb(220, 220, 220);
  color: #0f0f0f; */
  padding: 0.1rem 1.2rem;
  font-size: 1.1rem;
  /* font-weight: 500; */
  border-radius: 24px;
  width: auto;
  align-self: flex-start;
}