@import "tailwindcss";
:root {
  --background: #ffffff;
  --text-color: #0f0f0f;
  --accent-color: #850d09;
  --section-width: 1280px;
  --section-padding: 0 2rem;
  --p-font-size: 1.25rem;
  --section-spacing: 5rem;
  --section-header-size: 3.3rem;
}

body {
  font-family: var(--font-poppins);
  line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
}
p {
  font-size: var(--p-font-size);
  font-family: var(--font-source-sans-pro);
}

.homePageWrapper > * + * {
  margin-top: var(--section-spacing) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-source-sans-pro) !important;
  line-height: 1.7;
}
h2 {
  font-size: 3.3rem;
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

input{
  outline: none;
  border: none;
}