/* For Event Page */
.eventPage{
  margin-top: 10rem;
}
.eventPage .sectionHeading {
  color: var(--accent-color);
  text-transform: uppercase;
}
.eventsWrapper {
  max-width: var(--section-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.eventsWrapper > * + * {
  --inside-section-spacing: 3rem;
  margin-top: var(--inside-section-spacing) !important;
}

.header h2 {
  color: var(--accent-color);
  text-transform: uppercase;
}

.header p {
  max-width: 70ch;
  width: 100%;
  font-size: var(--sub-heading-font-size);
}

.eventImageContainer {
  position: relative;
  width: 30%;
  aspect-ratio: 16 / 9;
}

.eventContent {
  width: 70%;
  padding: 2rem;
}

.eventInfo h3 {
  line-height: 1.4;
}

.impDates {
  color: rgb(53, 53, 53);
  font-size: 1.2rem;
  font-weight: 500;
}

.eventLists {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.event {
  background-color: rgb(243, 243, 243);
  display: flex;
}

.eventImage {
  object-fit: cover;
}

.eventHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moreEventButton {
  text-align: center;
  margin-top: 3rem;
}

.eventTag {
  background-color: var(--accent-color);
  color: #f0f0f0;
  padding: 0.1rem 1.2rem;
  font-size: 1.1rem;
  border-radius: 24px;
  width: fit-content;
}

.eventName {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.eventDesc {
  margin-top: 1.2rem;
}

@media (max-width: 768px) {
  .eventPage{
    margin-top: 5rem;
  }
  .event {
    flex-direction: column;
  }
  .eventImageContainer {
    width: 100%;
  }

  .eventContent {
    width: 100%;
    padding: 2rem;
  }
}
@media (max-width: 480px) {
  .eventHeader {
    flex-direction: column;
    align-items: start;
  }
  .actionButton {
    margin-top: 1.2rem;
  }
}
