.wrapper {
  display: flex;
  min-height: 100vh;
  max-width: var(--section-width);
  padding: 0 2rem;
}

.wrapper > * + * {
  margin-top: var(--section-spacing) !important;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--text-color) !important;
  font-size: var(--sub-heading-font-size) !important;
  font-weight: 700;
}

.desc {
  color: var(--text-color) !important;
  font-size: var(--p-font-size) !important;
}
