.aboutContainer {
  padding: 12rem 4rem 4rem;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f0f5fa 30%,
    #e0eeff 60%,  
    #d6ebff 80%,
    #b3d4ff 100%
  );  
  width: 100%;
}

.title {
  color: var(--light-color) !important;
  text-align: center;
  font-family: var(--font-poppins) !important;
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}

.description {
  text-align: center;
  color: var(--text-color) !important;
  max-width: 1100px;
  margin: 0 auto 2rem auto;
  line-height: 1.6;
  font-size: 1.7rem;
  margin-bottom: 8rem;
}

.ourMission {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 3.5rem;
}

.desc h2 {
  font-size: var(--section-header-size) !important;
  color: var(--text-color) !important;
  text-transform: uppercase !important;
  position: relative;
}

.desc h2::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 600px;
  height: 3px;
  background-color: var(--accent-color) !important;
  border-radius: 2px;
}

.desc p {
  font-size: 1.6rem;
  font-weight: 400;
}

.image {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .ourMission {
    grid-template-columns: 1fr;
  }

  .image {
    margin-top: 2rem;
  }

  .title,
  .description {
    text-align: center;
  }
}
