.infoContainer {
  padding: 4rem 1rem;
  background: linear-gradient(
    to top,
    #ffffff 0%,
    #f0f5fa 30%,
    #e0eeff 60%,  
    #d6ebff 80%,
    #b3d4ff 100%
  );   
  width: 100%;
}

.ourVision {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 3.5rem;
}

.desc h2 {
  font-size: var(--section-header-size) !important;
  color: var(--text-color) !important;
  text-transform: uppercase !important;
  position: relative;
}

.desc h2::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 600px;
  height: 3px;
  background-color: var(--accent-color) !important;
  border-radius: 2px;
}

.desc p {
  font-size: 1.6rem;
  font-weight: 400;
}

.image {
  display: flex;
  justify-content: center;
}

.ourValues {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 7rem;
}

.ourValues h2 {
  font-size: 4rem;
}
