.valueContainer {
  padding: 4rem 2rem;
  overflow: hidden;
}

.content {
  max-width: var(--section-width) !important;
  margin: 0 auto;
  position: relative;
}

.section {
  margin-bottom: 2rem;
  margin-top: -4rem;
}

.leftHeading {
  font-size: 2.9rem;
  color: #ff9d4d;
  margin-bottom: 1rem;
  font-weight: 700;
  text-align: left;
  padding-left: 3rem;
}

.leftBlob {
  background-color: var(--accent-color) !important;
  color: white;
  padding: 3.5rem 5rem;
  border-radius: 65% 35% 65% 35% / 35% 65% 35% 65%;
  text-align: center;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 0;
  margin-right: auto;
  position: relative;
}

.rightHeading {
  font-size: 2.9rem;
  color: #ff9d4d;
  margin-bottom: 1rem;
  font-weight: 700;
  text-align: left;  
  margin-left: 47rem; 
}

.rightBlob {
  background-color: var(--accent-color) !important;
  color: white;
  padding: 3.5rem 5rem;
  border-radius: 35% 65% 35% 65% / 65% 35% 65% 35%;
  text-align: center;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: 0;
  position: relative;
}

.blobText {
  font-size: 1.3rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .leftHeading,
  .rightHeading {
    font-size: 2rem;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  
  .leftBlob,
  .rightBlob {
    padding: 1.5rem 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .blobText {
    font-size: 1rem;
  }
}
